/* HTML Selectors */
body {
    background-color: ghostwhite;
}

main {
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.3rem;
}

h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

img {
    width: 400px;
}

a {
    /* Making inline block to use transform on hover */
    display: inline-block;
    text-decoration: none;
    color: red;
    transition: all 250ms ease-in-out;
}

/* Class Selectors */

.center {
    text-align: center;
}

.container {
    max-width: 50%;
    margin: 0 auto;
}

.img-container {
    max-width: fit-content;
    margin: 0 auto;
}

.about-me {
    height: 250px;
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Class With Psudo-class Selectors */

.hov:visited {
    color: blue;
}

.hov:hover {
    color: rgb(100, 0, 0);
    text-decoration: underline;
    transform: scale(1.1);
}
